p {text-align:justify; /*text-indent:50px;*/}
p.italic {font-style:italic;}
p.oblique {font-style:oblique;}
p#note{font-size: 12px;font-style:italic;}

a:link { color: #FFFFFF;}
a:visited { color: #7C6A64;}

:focus { /*Quitar el recuadro cuando tiene el focus*/
	outline: 0px;
}

	/* Estilo del nombre del fichero */
#fileINI {
	font-size:16px;
	font-weight:bold;
}
	/* Estilo para el botón de cargar fichero */
	
div.upload {
    width: 157px;
    height: 57px;
    background: url(../images/greybutton.png);
    overflow: hidden;
	margin:0 auto 0 auto;
}

div.upload input {
    display: block !important;
    width: 157px !important;
    height: 57px !important;
    opacity: 0 !important;
    overflow: hidden !important;
}	
	
	/* Estilo para el Drag & Drop */
	
#dragDrop {
	border: 3px dashed grey;
	border-radius:22px;
	width:700px;
	height:200px;
	padding: 5px;
	text-align: center;
	margin:0 auto 0 auto;
	background-color: #FFFFFF;
}

img {
	display:block;
	margin:15px;
	margin:0 auto 0 auto;
}

	/* Estilo de las tablas */

.hidden      { display: none; }
.unhidden    { display: block; }

table {
	border-collapse: separate;
	border-spacing: 5px;
}
	
table.uploadFile {	
	width: 80%;
	margin:0 auto 0 auto;
}
	
td.uploadFile {
	vertical-align: middle;
}

table.ini th {
	-moz-box-shadow: 0px 1px 0px 0px #1c1b18;
	-webkit-box-shadow: 0px 1px 0px 0px #1c1b18;
	box-shadow: 0px 1px 0px 0px #1c1b18;
		
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eae0c2), color-stop(1, #ccc2a6));
	background:-moz-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-webkit-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-o-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-ms-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eae0c2', endColorstr='#ccc2a6',GradientType=0);
		
	background-color:#eae0c2;
		
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
		
	border:3px solid #333029;
		
	color:#505739;
	font-family:arial;
	font-size:16px;
	font-weight:bold;
	padding:7px 7px;
	text-align: center;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

table.ini td{
	vertical-align: top;
	text-align: left;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding: 10px;
	line-height: 20px;
		
	background-color:#ffffff;
		
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
		
	border:2px solid #333029;
}

	/* Estilo de las listas que contiene el árbol sintáctico*/

ol {
	margin-top: -55px;
}	
	
ol li {
	vertical-align: middle;
	text-align: left;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	line-height: 20px;
	
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	margin: 10px;
	padding: 10px;
}

li.blanks {
	background-color:#FF5252;
}

li.header {
	background-color:#E7FC92;
}

li.comments {
	background-color:#92F2FC;
}

li.nameEqualValue {
	background-color:#6D4F81;
}

li.error {
	background-color:#82C974;
}



	
	/*http://www.bestcssbuttongenerator.com/*/
    
    
    .myButton {
	
		-moz-box-shadow: 0px 1px 0px 0px #1c1b18;
		-webkit-box-shadow: 0px 1px 0px 0px #1c1b18;
		box-shadow: 0px 1px 0px 0px #1c1b18;
		
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eae0c2), color-stop(1, #ccc2a6));
		background:-moz-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
		background:-webkit-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
		background:-o-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
		background:-ms-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
		background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eae0c2', endColorstr='#ccc2a6',GradientType=0);
		
		background-color:#eae0c2;
		
		-moz-border-radius:15px;
		-webkit-border-radius:15px;
		border-radius:15px;
		
		border:3px solid #333029;
		
		display:inline-block;
		cursor:pointer;
		color:#505739;
		font-family:arial;
		font-size:14px;
		font-weight:bold;
		padding:7px 86px;
		text-decoration:none;
		text-shadow:0px 1px 0px #ffffff;
	}
	.myButton:hover {
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccc2a6), color-stop(1, #eae0c2));
		background:-moz-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
		background:-webkit-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
		background:-o-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
		background:-ms-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
		background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc2a6', endColorstr='#eae0c2',GradientType=0);
		background-color:#ccc2a6;
	}
	.myButton:active {
		position:relative;
		top:1px;
	}








 